<header>
    <button style="display: none" class="fas fa-bars"></button>
    <nav class="main-menu">
        <a class="link link-home" href="">Home</a>
        <a class="link link-about" href="">About</a>
        <a class="link link-projects" href="">Projects</a>
        <a class="link link-contact" href="">Contact</a>
    </nav>
</header>