<header>
    <div class="container-btn-burger">
        <button style="" id="btn" class="btn-burger fas fa-bars"></button>
    </div>
    <a class="header-logo" href="{{ path('Home') }}">
        <img src="{{ asset('images/scorpion-logo-2.jpg') }}" alt="Logo Scorpion">
    </a>
    <nav class="main-menu-header">
        <div class="menu-c-header">
            <a class="link link-projects" href="">Projects</a>
            <a class="link link-contact" href="{{path('Contact')}}">Contact</a>
        </div>
    </nav>
</header>