{% extends 'base.html.twig' %}

{% block title %}Contact --{{parent()}}{% endblock %}

{% block body %}
    <!--main bloc contact-->
    <section class="main-section-contact-w">
        <section class="main-section-contact-t">
            <section class="main-section-contact-c">
                <!--bloc contact-->
                <section class="section-contact-info-t">
                    <div class="section-contact-info-c">
                        <ul class="">
                            <li class=""><h1>Contact</h1></li>
                            <li class="">
                                <p class=""></p>
                            </li>
                            <li class="">
                                <h3>
                                <p class=""></p>
                            </li>
                            <li class="">
                                <h3>
                                <p class=""></p>
                            </li>
                            <li class="">
                                <h3>
                                <p class=""></p>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--bloc contact form-->
                <section class="section-contact-form-t">
                    <section class="section-contact-form-c">
                        <ul class="">
                            <li class=""><h1>Contact form</h1></li>
                            <li class="">
                                <input class="">
                                <input class="">
                            </li>
                            <li class="">
                                <input class="">
                                <input class="">
                            </li>
                            <li class="">
                                <input class="">
                            </li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}