{% extends 'base.html.twig' %}

{% block title %}Contact --{{parent()}}{% endblock %}

{% block body %}
    <!--main bloc contact-->
    <section class="main-section-contact-w">
        <section class="main-section-contact-t">
            <section class="main-section-contact-c">
                <!--bloc contact-->
                <section class="section-contact-info-t">
                    <div class="section-contact-info-c">
                        <ul class="list-contact-info-c">
                            <li class="list-contact-main-title">
                                <h2>Contact</h2>
                            </li>
                            <li id="list-contact-p-presentation">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                                    aliqua.
                                </p>
                            </li>
                            <li class="list-contact-info-h3-p">
                                <h3>Adress</h3>
                                <p class="">63 Avenue jean jaures 33150 Cenon</p>
                            </li>
                            <li class="list-contact-info-h3-p">
                                <h3>Phone</h3>
                                <p class="">+33 06 42 72 44 34</p>
                            </li>
                            <li class="list-contact-info-h3-p">
                                <h3>E-mail</h3>
                                <p class="">salahwassim.arfae1@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--bloc contact form-->
                <section class="section-contact-form-t">
                    <form class="section-contact-form-c" method="POST" action="form.php">
                        <ul class="list-contact-form-c">
                            <li class="list-contact-main-title"><h2>Contact form</h2></li>
                            <li class="">
                                <label for="name">Your name</label>
                                <input id="nom" type="text" name="nom">
                                <label for="phone">Your phone</label>
                                <input id="phone" type="text" name="phone">
                            </li>
                            <li class="">
                                <label for="email">Your email</label>
                                <input id="email" type="text" name="email">
                                <label for="message">Your message</label>
                                <input id="message" type="text" name="message">
                            </li>
                            <li id="">
                                <input id="submit" type="submit" value="send message + ">
                            </li>
                        </ul>
                    </form>
                </section>
            </section>
        </section>
    </section>
{% endblock %}