{% extends 'base.html.twig' %}

{% block title %}Home --{{parent()}}{% endblock %}

{% block body %}
    <article>
        <h1>Salah-Wassim ARFA</h1>
        <p>FullStack Developper Junior</p>
    <article>
{% endblock %}
