{% extends 'base.html.twig' %}

{% block title %}Home --{{parent()}}{% endblock %}

{% block body %}
    <section class="main-section-article">
        <article class="presentation">
            <p>Welcome on my Portfolio</p>
            <h1>Salah-Wassim ARFA</h1>
            <p>FullStack Developper Junior</p>
        </article>
        <!-- Caroussel -->
        <article class="gallery js-flickity">
            <div class="gallery-cell">
                <a href="{{path('Contact')}}">
                    <img src="" alt="">
                </a>
            </div>
            <div class="gallery-cell">
                <a href="#">
                    <img src="" alt="">
                </a>
            </div>
            <div class="gallery-cell">
                <a href="#">
                    <img src="" alt="">
                </a>
            </div>
            <div class="gallery-cell">
                <a href="#">
                    <img src="" alt="">
                </a>
            </div>
            <div class="gallery-cell">
                <a href="#">
                    <img src="" alt="">
                </a>
            </div>
        </article>
    </section>
{% endblock %}
