{% extends 'base.html.twig' %}

{% block title %}Home --{{parent()}}{% endblock %}

{% block body %}
    <section class="main-section-article">
        <article class="presentation">
            <p id="p1" class="presentation-contain"><span class="presentation-chevron">&#10095; </span>'m</p>
            <h1 id="h1">Salah-Wassim</h1>
            <div class="presentation-job">
                <p class="presentation-contain p2">A fullStack <p class="presentation-contain p2">developper junior</p></p>
            </div>
        </article>
    </section>
{% endblock %}
