/*BURGER*/
.container-btn-burger{
    width:27.66px;
    margin-right:20px;
}
.fas{
    background:none;
    border:none;
    font-size:35px;
    color:#FFF;
}

/* VERSION LAPTOP 770px */

@media all and (min-width: 770px){
    .container-btn-burger{display:none}
}