/*RESET CSS*/
body{margin:0}
p,a,h1,h2{padding:8px; color:#FFF}

/*GLOBAL*/
html,body{height:100%;}
body{min-height:100%; position:relative; background-color:#2E2E2E;}

/*HEADER*/
header > nav > a{display:none;list-style:none; text-decoration:none; text-transform:none;
color:#000}

/*INDEX*/
.presentation > h1{margin-bottom:0;}
.presentation > p{margin-top:0}

/*FOOTER*/
footer{
    display:flex;
    justify-content:center; 
    align-items:center;
    border:solid 1px #FFF;
}
footer > p{font-size:10px;}